<div *ngIf="data.typeDialog == 'alert'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="font-1">{{data.msg}}</mat-dialog-content>
  <br>
  <mat-dialog-actions class="buttons-content">
    <button mat-button [mat-dialog-close]="true" class="button-closed font-1">Esta bien</button>
  </mat-dialog-actions>
  <br>
</div>
<div *ngIf="data.typeDialog == 'forgot'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="font-1">{{data.msg}}</mat-dialog-content>
  <br>
  <mat-form-field class="dialogs-input">
    <input matInput placeholder="Correo Electrónico" type="email" [(ngModel)]="emailforgot" name="emailforgot">
  </mat-form-field>
  <br>
  <mat-dialog-actions class="buttons-content">
    <button mat-button [mat-dialog-close]="emailforgot" class="button-closed font-1">Restablecer</button>
  </mat-dialog-actions>
  <br>
</div>
<div *ngIf="data.typeDialog == 'new-company'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="font-1">{{data.msg}}</mat-dialog-content>
  <br>
  <mat-form-field class="dialogs-input">
    <input matInput placeholder="Correo Electrónico" type="email" [(ngModel)]="nc.emailnew" name="emailnew">
  </mat-form-field>
  <mat-form-field class="dialogs-input">
    <input matInput placeholder="Contraseña" type="password" [(ngModel)]="nc.passnew" name="passnew">
  </mat-form-field>
  <br>
  <mat-dialog-actions class="buttons-content">
    <button mat-button [mat-dialog-close]="nc" class="button-closed font-1">Crear Cuenta</button>
  </mat-dialog-actions>
  <br>
</div>
<div *ngIf="data.typeDialog == 'change-password'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="font-1">{{data.msg}}</mat-dialog-content>
  <br>
  <mat-form-field class="dialogs-input">
    <input matInput placeholder="Contraseña antigua" type="password" [(ngModel)]="cp.passold" name="passold">
  </mat-form-field>
  <mat-form-field class="dialogs-input">
    <input matInput placeholder="Contraseña nueva" type="password" [(ngModel)]="cp.passnew" name="passnew">
  </mat-form-field>
  <br>
  <mat-dialog-actions class="buttons-content">
    <button mat-button [mat-dialog-close]="cp" class="button-closed font-1">Cambiar</button>
  </mat-dialog-actions>
  <br>
</div>
<div *ngIf="data.typeDialog == 'new-offer'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="font-1">{{data.msg}}</mat-dialog-content>
  <br>
  <mat-form-field class="dialogs-input">
    <input matInput placeholder="Nombre de la oferta" type="text" [(ngModel)]="no.name" name="name">
  </mat-form-field>
  <mat-form-field class="dialogs-input">
    <textarea matInput placeholder="Descripción" class="rez_none" [(ngModel)]="no.description" required></textarea>
  </mat-form-field>
  <button mat-button mat-raised-button class="button-change-pass" (click)="changePhoto()">
    <mat-icon aria-label="Pass">add_a_photo</mat-icon>
    Fotografía
  </button>
  <input type="file" id="input-home-photo" accept="image/*" style="display: none" (change)="fileSelected($event)">
  <br>
  <mat-dialog-actions class="buttons-content">
    <button mat-button [mat-dialog-close]="no" class="button-closed font-1">Crear Oferta</button>
  </mat-dialog-actions>
  <br>
</div>
