.greeting
{
  margin-top: 40px;
  font-size: 30px;
}

.img-profile-1
{
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.container
{
  padding: 1.5em;
}

.button-change-pass
{
  background: #b32929;
  color: white;
  margin: 1em !important;
}

.input_text_form_content {
  margin-right: 32px;
}

.rez_none {
  resize: none !important;
}
