<app-menu></app-menu>
<br>
<br>
<br>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><img [src]="userInfo.img" class="img-profile-1" id="img-profile-1"></div>
      <mat-card-title><span *ngIf="firstName != null">{{firstName}}</span></mat-card-title>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span class="greeting font-2">{{greeting}}</span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="button-change-pass" (click)="changePassWord()">
        <mat-icon aria-label="Pass">lock</mat-icon>
        Cambiar contraseña
      </button>
      <button mat-button mat-raised-button class="button-change-pass" (click)="changePhoto()">
        <mat-icon aria-label="Pass">add_a_photo</mat-icon>
        Cambiar foto
      </button>
      <input type="file" id="input-home-photo" accept="image/*" style="display: none" (change)="fileSelected($event)">
      <br>
    </mat-card-actions>
  </mat-card>
  <mat-horizontal-stepper [linear]="isLinear" *ngIf="userType == 1">
    <mat-step [stepControl]="basicInfoFormGroup">
      <form [formGroup]="basicInfoFormGroup">
        <ng-template matStepLabel>Información básica</ng-template>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="email" type="email" formControlName="us_email" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Numero de documento" formControlName="st_idNumber" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Nombres" formControlName="us_names" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Apellidos" formControlName="us_lastNames" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Teléfono móvil" formControlName="st_cellphone" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Teléfono fijo" formControlName="st_phone" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Dirección" formControlName="st_address" required>
        </mat-form-field>
        <mat-form-field class="login-input" >
          <mat-select placeholder="¿Se encuentra libre?" formControlName="st_isfree" [(ngModel)]="userInfo.dataStudent.isFree" (ngModelChange)="changeFree(userInfo.dataStudent.isFree)">
            <mat-option [value]="1">
              Si
            </mat-option>
            <mat-option [value]="0">
              No
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="login-input" >
          <mat-select placeholder="Docente encargado" formControlName="st_teacher" [(ngModel)]="teacherAssignment" (ngModelChange)="changeTeacher(teacherAssignment)">
            <mat-option [value]="0">
              Seleccione un docente
            </mat-option>
            <mat-option *ngFor="let user of usersDocente" [value]="user.us_id">
              {{user.us_id}} - {{user.us_names}} {{user.us_lastnames}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="login-input" >
          <mat-select placeholder="Seleccione una carrera" formControlName="st_career" [(ngModel)]="career" (ngModelChange)="changeCareer(career)">
            <mat-option [value]="">
              Seleccione una carrera
            </mat-option>
            <mat-option *ngFor="let program of programs" [value]="program.pro_name">
              {{program.pro_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="documentsFormGroup">
      <form [formGroup]="documentsFormGroup">
        <ng-template matStepLabel>Documentos</ng-template>

        <div>
          <p>
            Hoja de vida formato pdf
          </p>

          <button type="button" mat-raised-button (click)="fileHV.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataStudent.hv" href="{{this.userInfo.dataStudent.hv}}" class="pl-2">{{this.userInfo.dataStudent.hv}}</a>
          <p id="fileHV_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileHV', 'hv.pdf')" #fileHV type="file" id="fileHV" accept="application/pdf">
        </div>

        <div>
          <p>Fotocopia de cedula al 150% formato pdf</p>
          <button type="button" mat-raised-button (click)="fileC.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataStudent.cardid" href="{{this.userInfo.dataStudent.cardid}}" class="pl-2">{{this.userInfo.dataStudent.cardid}}</a>
          <p id="fileC_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileC', 'cardid.pdf')" #fileC type="file" id="fileC" accept="application/pdf">
        </div>

        <div>
          <p>Certificado de afiliación EPS</p>
          <button type="button" mat-raised-button (click)="fileEPS.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataStudent.eps" href="{{this.userInfo.dataStudent.eps}}" class="pl-2">{{this.userInfo.dataStudent.eps}}</a>
          <p id="fileEPS_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileEPS', 'eps.pdf')" #fileEPS type="file" id="fileEPS" accept="application/pdf">
        </div>

        <div>
          <p>Acta de matricula</p>
          <button type="button" mat-raised-button (click)="fileAM.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataStudent.enrollment" href="{{this.userInfo.dataStudent.enrollment}}" class="pl-2">{{this.userInfo.dataStudent.enrollment}}</a>
          <p id="fileAM_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileAM', 'enrollment.pdf')" #fileAM type="file" id="fileAM" accept="application/pdf">
        </div>

        <div>
          <p>
            Registro de practica / <a target="_self"  href="/assets/documents/formato-registro-practicante2.doc" download="formato-registro-practicante2.doc">
              <i class="fa fa-download fa-2x text-primary" aria-hidden="true"></i> Descargar formato
            </a>
          </p>
          <button type="button" mat-raised-button (click)="fileRP.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataStudent.practice" href="{{this.userInfo.dataStudent.practice}}" class="pl-2">{{this.userInfo.dataStudent.practice}}</a>
          <p id="fileRP_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileRP', 'practice.doc')" #fileRP type="file" id="fileRP" accept="application/msword">
        </div>

        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Enviar</ng-template>
      <mat-spinner *ngIf="spinnerSendUserInfo"></mat-spinner>
      <p *ngIf="doneSendUserInfo">Sus datos han sido actualizados</p>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext mat-raised-button color="primary" (click)="sendUserInfo()">Enviar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-horizontal-stepper [linear]="isLinear" *ngIf="userType == 2">
    <mat-step [stepControl]="basicInfoFormGroupCompany">
      <form [formGroup]="basicInfoFormGroupCompany">
        <ng-template matStepLabel>Información básica</ng-template>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="email" type="email" formControlName="us_email" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input type="text" matInput placeholder="Nombres representante" formControlName="us_names" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input type="text" matInput placeholder="Apellidos representante" formControlName="us_lastNames" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input type="text" matInput placeholder="Nombre compañia" formControlName="comin_name" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input type="text" matInput placeholder="Razón social" formControlName="comin_razon" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input type="text" matInput placeholder="NIT" formControlName="comin_nit" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input type="text" matInput placeholder="Dirección" formControlName="comin_address" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input type="text" matInput placeholder="Teléfono fijo" formControlName="comin_phone" required>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="documentsFormGroupCompany">
      <form [formGroup]="documentsFormGroupCompany">
        <ng-template matStepLabel>Documentos</ng-template>

        <div *ngIf="this.userInfo.dataCompany.razon === 'pública'">
          <p>
            Cámara de comercio formato pdf
          </p>

          <button type="button" mat-raised-button (click)="fileCC.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataCompany.commerce" href="{{this.userInfo.dataCompany.commerce}}" class="pl-2">{{this.userInfo.dataCompany.commerce}}</a>
          <p id="fileCC_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileCC', 'commerce.pdf')" #fileCC type="file" id="fileCC" accept="application/pdf">
        </div>

        <div *ngIf="this.userInfo.dataCompany.razon === 'pública'">
          <p>RUT formato pdf</p>
          <button type="button" mat-raised-button (click)="fileRUT.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataCompany.rut" href="{{this.userInfo.dataCompany.rut}}" class="pl-2">{{this.userInfo.dataCompany.rut}}</a>
          <p id="fileRUT_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileRUT', 'rut.pdf')" #fileRUT type="file" id="fileRUT" accept="application/pdf">
        </div>

        <div>
          <p>Fotocopia cedula representante legal 150% formato pdf</p>
          <button type="button" mat-raised-button (click)="fileC.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataCompany.cardid" href="{{this.userInfo.dataCompany.cardid}}" class="pl-2">{{this.userInfo.dataCompany.cardid}}</a>
          <p id="fileC_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileC', 'cardid.pdf')" #fileC type="file" id="fileC" accept="application/pdf">
        </div>

        <div *ngIf="this.userInfo.dataCompany.razon === 'privada'">
          <p>Acta de posesión (representante legal) formato pdf</p>
          <button type="button" mat-raised-button (click)="filePOS.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataCompany.possesion" href="{{this.userInfo.dataCompany.possesion}}" class="pl-2">{{this.userInfo.dataCompany.possesion}}</a>
          <p id="filePOS_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('filePOS', 'possesion.pdf')" #filePOS type="file" id="filePOS" accept="application/pdf">
        </div>

        <div *ngIf="this.userInfo.dataCompany.razon === 'privada'">
          <p>Convenio marco (si existe) formato pdf</p>
          <button type="button" mat-raised-button (click)="fileCM.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataCompany.agreement" href="{{this.userInfo.dataCompany.agreement}}" class="pl-2">{{this.userInfo.dataCompany.agreement}}</a>
          <p id="fileCM_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileCM', 'conveniomarco.pdf')" #fileCM type="file" id="fileCM" accept="application/pdf">
        </div>

        <div *ngIf="this.userInfo.dataCompany.razon === 'privada'">
          <p>Decreto o resolución de la dependencia formato pdf</p>
          <button type="button" mat-raised-button (click)="fileDD.click()">Choose File</button>
          <a target="_blank" *ngIf="this.userInfo.dataCompany.resolution" href="{{this.userInfo.dataCompany.resolution}}" class="pl-2">{{this.userInfo.dataCompany.resolution}}</a>
          <p id="fileDD_p"></p>
          <input style="visibility: hidden" (change)="onFileSelected('fileDD', 'decretodep.pdf')" #fileDD type="file" id="fileDD" accept="application/pdf">
        </div>

        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Enviar</ng-template>
      <mat-spinner *ngIf="spinnerSendUserInfo"></mat-spinner>
      <p *ngIf="doneSendUserInfo">Sus datos han sido actualizados</p>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext mat-raised-button color="primary" (click)="sendUserInfo()">Enviar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <br>
  <h1 *ngIf="userType == 4">Buscar estudiante</h1>
  <div *ngIf="userType == 4">
    <mat-progress-bar mode="indeterminate" color="warn" class="load-2" *ngIf="getUserMethodState"></mat-progress-bar>
    <div class="example-header">
      <mat-form-field floatPlaceholder="never">
        <input matInput #filter placeholder="Correo electrónico, cédula, NIT" [(ngModel)]="getUsersParam.text" name="filter" (ngModelChange)="searchUser($event)">
      </mat-form-field>
    </div>
    <br>
    <mat-card *ngFor="let item of users" class="car-edit">
      <img src="{{item.us_img}}" class="img-users" *ngIf="item.us_img != null">
      <img src="assets/profile.png" class="img-users" *ngIf="item.us_img == null">
      <div class="content-user">
        <b class="" style="font-size: 18px;">{{item.us_email}}</b>
        <br>
        <p class="es" *ngIf="item.us_type == 1">Estudiante</p>
        <p class="em" *ngIf="item.us_type == 2">Empresa</p>
        <p class="ad" *ngIf="item.us_type == 3">Administrador</p>
        <p class="do" *ngIf="item.us_type == 4">Docente</p>
        <span class="last-date" *ngIf="item.us_last_login != null">Ultimo inicio de sesión {{item.us_last_login}}</span>
        <span class="view-u" matTooltip="Ver información de {{item.us_email}}" matTooltipPosition="left" (click)="viewUser(item)"><i class="material-icons">remove_red_eye</i></span>
      </div>
    </mat-card>
    <div  *ngIf="users.length == 0" class="no_data">
      <br>
      <i class="material-icons no_data_icon">cloud_circle</i>
      <br>
      <span>No se encontraron datos para mostrar</span>
    </div>
    <div style="position: absolute;width: 100%;text-align: center;" *ngIf="users.length >= 10">
      <br>
      <span class="load_more"  (click)="getUsersMore()">Cargar mas</span>
      <br><br><br>
    </div>
    <div id="view-u">
      <br>
      <i class="material-icons" style="font-size: 30px;color:gray;cursor: pointer;" (click)="closeviewUser()">subdirectory_arrow_right</i>
      <hr>
      <!-- <><><><><><><><><><><><><><><><> -->
      <!-- INFORMACION DE ESTUDIANTE INICIO -->
      <!-- <><><><><><><><><><><><><><><><> -->
      <div *ngIf="currentUview">
        <div style="text-align: center;">
          <img src="{{currentUview.us_img}}" class="img-users2" *ngIf="currentUview.us_img != null" style="border:solid;border-color:#ff4081;border-width: 4px;">
          <img src="assets/profile.png" class="img-users2" *ngIf="currentUview.us_img == null" style="border:solid;border-color:#ff4081;border-width: 4px;">
        </div>
        <br>
        <mat-list>
          <mat-list-item>Nombres: &nbsp; <b>{{currentUview.us_names}}</b></mat-list-item>
          <mat-list-item>Apellidos: &nbsp; <b>{{currentUview.us_lastnames}}</b></mat-list-item>
          <mat-list-item>E-mail: &nbsp; <b>{{currentUview.us_email}}</b></mat-list-item>
          <mat-list-item>Estado de cuenta: &nbsp; <b *ngIf="currentUview.us_state == 1" class="u-active">activo</b> <b *ngIf="currentUview.us_state == 0" class="u-inactive">inactivo</b> </mat-list-item>
          <mat-list-item>
            Numero de identificación: &nbsp;
            <b *ngIf="currentUview.st_idnumber != null || currentUview.st_idnumber != '' ">{{currentUview.st_idnumber}}</b>
            <b *ngIf="currentUview.st_idnumber == null || currentUview.st_idnumber == '' " style="font-weight: inherit;color:red;">Falta</b>
          </mat-list-item>
          <mat-list-item>
            Carrera: &nbsp;
            <b *ngIf="currentUview.st_career != null || currentUview.st_career != '' ">{{currentUview.st_career}}</b>
            <b *ngIf="currentUview.st_career == null || currentUview.st_career == '' " style="font-weight: inherit;color:red;">Falta</b>
          </mat-list-item>
          <mat-list-item>
            Celular: &nbsp;
            <b *ngIf="currentUview.st_celphone != null || currentUview.st_celphone != '' ">{{currentUview.st_celphone}}</b>
            <b *ngIf="currentUview.st_celphone == null || currentUview.st_celphone == '' " style="font-weight: inherit;color:red;">Falta</b>
          </mat-list-item>
          <mat-list-item>
            Telefono fijo: &nbsp;
            <b *ngIf="currentUview.st_phone != null || currentUview.st_phone != '' ">{{currentUview.st_phone}}</b>
            <b *ngIf="currentUview.st_phone == null || currentUview.st_phone == '' " style="font-weight: inherit;color:red;">Falta</b>
          </mat-list-item>
          <mat-list-item>
            Dirección: &nbsp;
            <b *ngIf="currentUview.st_address != null || currentUview.st_address != '' ">{{currentUview.st_address}}</b>
            <b *ngIf="currentUview.st_address == null || currentUview.st_address == '' " style="font-weight: inherit;color:red;">Falta</b>
          </mat-list-item>
          <mat-list-item>
            EPS: &nbsp;
            <b *ngIf="currentUview.st_eps != null || currentUview.st_eps != '' ">{{currentUview.st_eps}}</b>
            <b *ngIf="currentUview.st_eps == null || currentUview.st_eps == '' " style="font-weight: inherit;color:red;">Falta</b>
          </mat-list-item>
          <mat-list-item>Ultimo inicio de sesión: &nbsp; <span *ngIf="currentUview.us_last_login != null">{{currentUview.us_last_login}}</span> <span *ngIf="currentUview.us_last_login == null">Nunca</span> </mat-list-item>
        </mat-list>
      </div>
      <!-- <><><><><><><><><><><><><><><><> -->
      <!-- INFORMACION DE ESTUDIANTE FIN -->
      <!-- <><><><><><><><><><><><><><><><> -->
      <br><br><br><br><br>
    </div>
  </div>
</div>
