<app-menu></app-menu>
<br>
<br>
<br>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><img [src]="userInfo.img" class="img-profile-1" id="img-profile-1"></div>
      <mat-card-title><span *ngIf="firstName != null">{{firstName}}</span></mat-card-title>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span class="greeting font-2">{{greeting}}</span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="button-change-pass" (click)="changePassWord()">
        <mat-icon aria-label="Pass">lock</mat-icon>
        Cambiar contraseña
      </button>
      <button mat-button mat-raised-button class="button-change-pass" (click)="changePhoto()">
        <mat-icon aria-label="Pass">add_a_photo</mat-icon>
        Cambiar foto
      </button>
      <input type="file" id="input-home-photo" accept="image/*" style="display: none" (change)="fileSelected($event)">
      <br>
    </mat-card-actions>
  </mat-card>
  <mat-horizontal-stepper [linear]="isLinear" *ngIf="userType == 1">
    <mat-step [stepControl]="basicInfoFormGroup">
      <form [formGroup]="basicInfoFormGroup">
        <ng-template matStepLabel>Información básica</ng-template>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="email" type="email" formControlName="us_email" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Numero de documento" formControlName="st_idNumber" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Nombres" formControlName="us_names" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Apellidos" formControlName="us_lastNames" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Programa académico" formControlName="st_program" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Teléfono móvil" formControlName="st_cellphone" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Teléfono fijo" formControlName="st_phone" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <input matInput placeholder="Dirección" formControlName="st_address" required>
        </mat-form-field>
        <mat-form-field class="input_text_form_content">
          <textarea matInput placeholder="Horario" class="rez_none" formControlName="st_schedule" required></textarea>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="documentsFormGroup">
      <form [formGroup]="documentsFormGroup">
        <ng-template matStepLabel>Documentos</ng-template>

        <div>
          <p>Hoja de vida formato pdf</p>
          <button type="button" mat-raised-button (click)="fileHV.click()">Choose File</button>
          <p id="fileHV_p">{{fileHV.dirName}}</p>
          <input style="visibility: hidden" (change)="onFileSelected('fileHV')" #fileHV type="file" id="fileHV">
        </div>

        <div>
          <p>Fotocopia de cedula al 150%</p>
          <button type="button" mat-raised-button (click)="fileC.click()">Choose File</button>
          <p id="fileC_p">{{fileHV.dirName}}</p>
          <input style="visibility: hidden" (change)="onFileSelected('fileC')" #fileC type="file" id="fileC">
        </div>

        <div>
          <p>Certificado de afiliación EPS</p>
          <button type="button" mat-raised-button (click)="fileEPS.click()">Choose File</button>
          <p id="fileEPS_p">{{fileHV.dirName}}</p>
          <input style="visibility: hidden" (change)="onFileSelected('fileEPS')" #fileEPS type="file" id="fileEPS">
        </div>

        <div>
          <p>Acta de matricula</p>
          <button type="button" mat-raised-button (click)="fileAM.click()">Choose File</button>
          <p id="fileAM_p">{{fileHV.dirName}}</p>
          <input style="visibility: hidden" (change)="onFileSelected('fileAM')" #fileAM type="file" id="fileAM">
        </div>

        <div>
          <p>Registro de practica</p>
          <button type="button" mat-raised-button (click)="fileRP.click()">Choose File</button>
          <p id="fileRP_p">{{fileHV.dirName}}</p>
          <input style="visibility: hidden" (change)="onFileSelected('fileRP')" #fileRP type="file" id="fileRP">
        </div>

        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Enviar</ng-template>
      <mat-spinner *ngIf="spinnerSendUserInfo"></mat-spinner>
      <p *ngIf="doneSendUserInfo">Sus datos han sido actualizados</p>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext mat-raised-button color="primary" (click)="sendUserInfo()">Enviar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <h1>Buscar estudiante</h1>
  <div class="row align-items-center" *ngIf="userType == 4">
    <div class="col-10">
      <input class="form-control" type="search" placeholder="Nombre o documento del estudiante">
    </div>
    <div class="col-2">
      <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
    </div>
  </div>
</div>
